*{
  margin: 0;
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
}
#topBar{
  height: 75px;
  border: 2px solid black;
  justify-content: space-between;
}
#logo{
  height: 100%;
  width: 300px;
}
#logo img{
  height: 100%;
  width: 70%;
}
#user{
  height: 100%;
  width: 150px;
  justify-content: space-evenly;
  font-size: 18px;
}
#user img{
  height: 60px;
  width: 60px;
}
#midSec{
  height: 70px;
  border: 2px solid black;
  display: flex;
}
#listLeftSec{
  height: 100%;
  width: 15vw;
  flex-direction: column;
  font-weight: bold;
}
#listLeftSec p{
  color: grey;
  margin: 0;
}
#listMidSec{
  height: 100%;
  width: 50vw;
  display: flex;
  align-items: center;
}
#listRightSec{
  width: 35vw;
  justify-content:end;

}
#search{
  margin: 15px;
}